@font-face {
  font-family: 'Hind';
  src: local('Hind'), url(../fonts/Hind/Hind-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  font-weight: 900;
  src: local('Hind'), url(../fonts/Hind/Hind-Bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  font-weight: 200;
  src: local('Hind'), url(../fonts/Hind/Hind-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  font-weight: 600;
  src: local('Hind'), url(../fonts/Hind/Hind-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  font-weight: 700;
  src: local('Hind'), url(../fonts/Hind/Hind-SemiBold.ttf) format('truetype');
  font-display: swap;
}

:root {
  /*Main Font*/
  --MAIN-FONT: 'Hind', 'Sans-Serif';
  --BASE-FONT-SIZE: 14px;
}
